<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/static.css">
    <title>Document</title>
</head>
<body>
    <h1>HomePage</h1>
    <div class="container">
        <h1 class="mt-5">Upload a ZIP Folder of Images</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Choose ZIP File</label>
                <input type="file" class="form-control-file" id="file" name="file" accept=".zip">
            </div>
            <button type="submit" class="btn btn-primary">Upload and Convert</button>
        </form>
    </div>

</body>
</html>